html {
	height: 100%;
	width: 100%;
}
body {
	background-color: white;
	font: 16px/16px arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
/***General Styles***/
a {
	color: white;
	text-decoration: none;
}
a:active {
	color: yellow;
	font-weight: bold;
}
a:hover {
	color: #277FD3;
	transition: color .2s linear;
}
a:link {
}
a:visited {
}
u {
	border-bottom: 5px solid black;
	display: inline;
	text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/***Header***/
#header {
	background: #222; 
	left: 0;
	margin: 0;
	height: 70px;
	padding: 0;
	position: fixed; 
	!text-shadow: .16em .16em .64em #999;
	top: 0;
	width: 100%;
	z-index: 3;
}
.expertise {
	color: #277FD3;
	font-size: 100%;
	font-weight: normal;
	list-style-type: none;
	margin: 0;
	position: fixed;
	left: 1%;
	top: 50px;
	z-index: 2;
}
.navigation {
	background: #222; 
	font-size: 100%;
	font-weight: bold;
	list-style-type: none;
	margin: 0;	
	padding: 0;
	position: fixed;
	right: 2%;
	top: 50px;
	z-index: 3;
}
.title {
	color: white;
	font-size: 200%;
	left: 1%;
	margin: 0;
	min-width: 515px;	
	position: fixed;
	top: 20px;
}
/***Main Window***/
#wrapper {
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 9%;
	width: 100%;
	z-index: 1;
}
/***Cover Picture***/
.coverpic {
	height: auto;
	width: 100%;
	z-index: 1;
}
.quote {
	background-color: black;
	color: white;
	font-size: 1.5vw; 
	left: .8em;
	line-height: 3vw;
	margin-left: .2em;
	margin-top: 0;
	padding: 0;
	position: absolute;
	text-align: center; 
	top: 5%;
	width: 60%;
	z-index: 2;
}
/* .coverpic:after {
	background-color: rgba(0,0,0,0.5);
	margin-top: 180px;
	min-height: 100%;
	left: 0;	
	position: absolute;	
	top: 0;
	width: 100%;
	z-index: 1;
} */
/***Content***/
.content {
	/*** Floating Tags with Shadows
	background: #FFFF00;
	display: block;
	font-size: 100%;	
	height: auto;		
	hyphens: auto;
	line-height: 18px;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
	padding: .25em;
	text-align: left;
	vertical-align: top;
	-webkit-box-shadow: 10px 10px 6px -4px #777;
		-moz-box-shadow: 10px 10px 6px -4px #777;
			box-shadow: 10px 10px 6px -4px #777;
	width: 90%; 
	***/
	/***background-color: #e15915;***/
/* 	background: -webkit-linear-gradient(left, red, #FF3C00, red); */ /* For Safari 5.1 to 6.0 */
/* 	background: -o-linear-gradient(left, red, #FF3C00, red); */ /* For Opera 11.1 to 12.0 */
/* 	background: -moz-linear-gradient(left, red, #FF3C00, red); */ /* For Firefox 3.6 to 15 */
/* 	background: linear-gradient(left, red, #FF3C00, red); */ /* Standard syntax */
	height: 100%;
	margin: auto;
	padding-bottom: 80%;
	width: 100%;
	z-index: 1;
}
/***Triangle Transition Icon***/
/***
.content:after {
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    border-top: solid 20px #e15915;
    content: "";
    height: 0;
    left: 70%;
    margin-left: -25%;
	position: absolute;
    top: 98.1%;
    width: 0;
	z-index: 0;
}
***/
.content h1 {
	font-weight: normal;
	height: 50%;
	line-height: 1em;
	margin: 0;
	padding-top: .8em;
	padding-bottom: 1em;
	text-align: center;
	width: 100%;
	z-index: 2;
}
.content p {
	font-weight: normal;
	height: auto;
	line-height: 1.2em;
	margin: auto;
	padding-left: .8em;
	padding-top: 1em;
	text-align: justified;
	width: 100%;
	z-index: 2;
}
.list {
	line-height: 1.2em;	
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
	padding-top: 1em;
	z-index: 2;
}
#piccontainer {
	height: auto;
	overflow: hidden;
	margin: auto auto;
	padding: 0;
	position: relative;
	top: 8%;
	z-index: 0;
}
.pic {
	height: 100%;
	-webkit-box-shadow: 1.6em 1.6em .96em -.48em #777;
	   -moz-box-shadow: 1.6em 1.6em .96em -.48em #777;
	        box-shadow: 1.6em 1.6em .96em -.48em #777;
	width: 100%;
	z-index: 0;
}
/***Footer***/
#footer {
	background: black; 	
	bottom: 0;
	max-height: 6%;
	min-height: 6%;
	left: 0;
	margin: 0;
	position: fixed;
	text-align: left; 
	/* text-shadow: .16em 0 .32em #999; */
	width: 100%;
	z-index: 4;
}
#footer h1 {
	color: white; 	
	font-size: 125%;
	padding-left: 6px;
	z-index: 4;
}

