html {
	height: 100%;
	width: 100%;
}
body {
	background-color: #222;
	font: 16px/16px arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}
/***General Styles***/
a {
	color: white;
	text-decoration: none;
}
a:active {
	color: yellow;
	font-weight: bold;
}
a:hover {
	color: #277FD3;
	transition: color .2s linear;
}
a:link {
}
a:visited {
}
@media only screen and (min-device-width: 650px) {
	u {
		border-bottom: 5px solid white;
		display: inline;
		text-decoration: none;
	}
}
@media only screen and (max-device-width: 615px) {
	u {
		border-bottom: 2px solid white;
		display: inline;
		text-decoration: none;
	}
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/***Header - Non-Mobile***/
@media only screen and (min-device-width: 650px) {
	#header {
		background: #222; 
		border-color: #277FD3;
		border-width: 0px 0px 3px 0px;
		border-style: solid;
		left: 0;
		margin: 0;
		height: 70px;
		padding: 0;
		position: fixed; 
		!text-shadow: .16em .16em .64em #999;
		top: 0;
		width: 100%;
		z-index: 3;
	}
	.expertise {
		border-width: 0;
		color: #277FD3;
		font-size: 100%;
		font-weight: normal;
		list-style-type: none;
		margin: 0;
		position: fixed;
		left: 1%;
		top: 50px;
		z-index: 2;
	}
	.navigation {
		background: #222; 
		border-width: 0;
		font-size: 100%;
		font-weight: bold;
		list-style-type: none;
		margin: 0;	
		padding: 0;
		position: fixed;
		right: 2%;
		top: 50px;
		z-index: 3;
	}
	.title {
	border-width: 0;
	color: white;
	font-size: 200%;
	left: 1%;
	margin: 0;
	min-width: 515px;	
	position: fixed;
	top: 20px;
	}
}
/***Header - Mobile***/
@media only screen and (max-device-width: 615px) {
	#header {
		background: #222; 
		border-color: #277FD3;
		border-width: 0px 0px 3px 0px;
		border-style: solid;
		left: 0;
		margin: 0;
		height: 70px;
		padding: 0;
		position: fixed; 
		!text-shadow: .16em .16em .64em #999;
		top: 0;
		width: 100%;
		z-index: 3;
	}
	.navigation {
		background: #222; 
		border-width: 0;
		font-size: 90%;
		font-weight: bold;
		list-style-type: none;
		margin: 0;	
		padding: 0;
		position: fixed;
		left: 1%;
		top: 50px;
		z-index: 3;
	}
	.expertise {
	border-width: 0;
	color: #277FD3;
	font-size: 0;
	font-weight: normal;
	list-style-type: none;
	margin: 0;
	position: fixed;
	left: 1%;
	top: 50px;
	z-index: 2;
	}
	.title {
	border-width: 0;
	color: white;
	font-size: 150%;
	left: 1%;
	margin: 0;
	min-width: 515px;	
	position: fixed;
	top: 20px;
	}
}
/***Main Window***/
#wrapper {
	height: auto;
	margin-bottom: 0;
	margin-top: 70px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	z-index: 1;
}
/***Cover Picture***/
.coverpic {
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 1;
}
@media only screen and (min-device-width: 650px) {
	.quote {
		background-color: black;
		color: white;
		font-size: 1.5vw; 
		left: .8em;
		line-height: 3vw;
		margin-left: .2em;
		padding: 0;
		position: absolute;
		text-align: center; 
		top: 25%;
		width: 60%;
		z-index: 1;
	}
}
@media only screen and (max-device-width: 615px) {
	.quote {
		background-color: black;
		color: white;
		font-size: .5em; 
		left: .8em;
		line-height: 3vw;
		margin-left: .2em;
		padding: 0;
		position: absolute;
		text-align: center; 
		top: 25%;
		width: 60%;
		z-index: 1;
	}
}
/* .coverpic:after {
	background-color: rgba(0,0,0,0.5);
	margin-top: 180px;
	min-height: 100%;
	left: 0;	
	position: absolute;	
	top: 0;
	width: 100%;
	z-index: 1;
} */
/***Content***/
/***Content - Non-Mobile***/
@media only screen and (min-device-width: 650px) {
	.content {
		height: auto;
		margin-bottom: 3px;
		padding: 0 0 10px 0;
		width: 100%;
		z-index: 2;
	}
	/*Floating Tags with Shadows
		background: #FFFF00;
		display: block;
		font-size: 100%;	
		height: auto;		
		hyphens: auto;
		line-height: 18px;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		padding: .25em;
		text-align: left;
		vertical-align: top;
		-webkit-box-shadow: 10px 10px 6px -4px #777;
			-moz-box-shadow: 10px 10px 6px -4px #777;
				box-shadow: 10px 10px 6px -4px #777;
		width: 90%;
		background-color: #e15915;
		background: -webkit-linear-gradient(left, red, #FF3C00, red); For Safari 5.1 to 6.0
		background: -o-linear-gradient(left, red, #FF3C00, red); For Opera 11.1 to 12.0
		background: -moz-linear-gradient(left, red, #FF3C00, red); For Firefox 3.6 to 15
		background: linear-gradient(left, red, #FF3C00, red); Standard syntax */
	/*Triangle Transition Icon
	.content:after {
		border-left: solid 20px transparent;
		border-right: solid 20px transparent;
		border-top: solid 20px #e15915;
		content: "";
		height: 0;
		left: 70%;
		margin-left: -25%;
		position: absolute;
		top: 98.1%;
		width: 0;
		z-index: 0;
	}*/
	.content h1 {
		font-weight: normal;
		height: auto;
		line-height: 1em;
		margin: 0;
		padding-top: .8em;
		padding-bottom: 1em;
		text-align: center;
		width: 100%;
		z-index: 1;
	}
	.content p {
		font-weight: normal;
		height: auto;
		line-height: 1.2em;
		margin: auto;
		padding-left: .8em;
		padding-top: 1em;
		text-align: justified;
		width: 100%;
		z-index: 1;
	}
	/***Contacts***/
	.contacts {
		font-size: 1.60em;
		height: 600px;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
		position: relative;
		width: 535px;
		z-index: 2;
	}
	.contacts a:hover {
		color: #40FF00;
		font-size: 1.65em;
		height: 190px;
		padding-top: 83px;
		transition: all .2s linear;
		width: 190px;
		z-index: 3;
	}
	.academia {
		background-color: #133C5D;
		border-radius: 175px;
		height: 175px;	
		padding-top: 75px;
		position: absolute;
		right: 5px;
		text-align: center;
		top: 325px;
		width: 175px;
	}
	a.academia:hover {
		color: #40FF00;
		font-size: 1.1em;
		height: 190px;
		padding-top: 83px;
		padding-top: 83px;
		transition: all .2s linear;
		width: 190px;
		z-index: 3;
	}
	.facebook {
		background-color: #43609B;
		border-radius: 175px;
		height: 175px;
		left: 5px;
		padding-top: 75px;	
		position: absolute;
		text-align: center;
		top: 325px;
		width: 175px;
		z-index: 2;
	}
	.github {
		background-color: #333333;
		border-radius: 175px;
		height: 175px;
		padding-top: 75px;	
		position: absolute;
		right: 5px;	
		text-align: center;
		top: 130px;
		width: 175px;
	}
	.linkedin {
		background-color: #1884BB;
		border-radius: 175px;
		height: 175px;
		padding-top: 75px;	
		position: absolute;
		left: 180px;
		text-align: center;
		top: 14px;
		width: 175px;
		z-index: 2;
	}
	.northwestern {
		background-color: #541763;	
		border-radius: 175px;
		height: 175px;
		left: 180px;
		padding-top: 75px;
		position: absolute;
		text-align: center;
		bottom: 5px;
		width: 175px;
	}
	a.northwestern:hover {
		color: #40FF00;
		font-size: 1.2em;
		height: 190px;
		padding-top: 83px;
		padding-top: 83px;
		transition: all .2s linear;
		width: 190px;
		z-index: 3;
	}
	.twitter {
		background-color: #55ACEE;
		border-radius: 175px;
		height: 175px;
		left: 5px;
		padding-top: 75px;	
		position: absolute;
		text-align: center;
		top: 130px;
		width: 175px;
		z-index: 2;
	}
	.list {
		line-height: 1.2em;	
		list-style-type: none;
		margin: 0;
		padding-left: 1em;
		padding-top: 1em;
		z-index: 2;
	}
	/*Academic Summary*/
	.acadecsum {
		color: white;
		font-size: 1.60em;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 0 10px 0;
		position: relative;
		width: 700px;
		z-index: 1;
	}
	/*Developer Progress*/
	.devprog {
		color: white;
		font-size: 1.60em;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 0 10px 0;
		position: relative;
		width: 700px;
		z-index: 1;
	}
	.topper {
	background-image: url(images/Books.jpg);
	background-size: cover;
	border-color: orange;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	height: 110px;
	left: 0;
	margin: 0;
	min-height: 110px;
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 2;
	}
}
/***Content - Mobile***/
@media only screen and (max-device-width: 615px) {
	.content {
		height: auto;
		margin-bottom: 3px;
		padding: 0 0 10px 0;
		width: 100%;
		z-index: 2;
	}
	.content h1 {
		font-weight: normal;
		font-size: .5em;
		height: auto;
		line-height: .5em;
		margin: 0;
		padding-top: .8em;
		padding-bottom: 1em;
		text-align: center;
		width: 100%;
		z-index: 1;
	}
	.content p {
		font-weight: normal;
		font-size: .5em;
		height: auto;
		line-height: 1.5em;
		margin: 0;
		padding-left: .8em;
		padding-top: 1em;
		text-align: justified;
		width: 100%;
		z-index: 1;
	}
	/***Contacts***/
	.contacts {
		font-size: .6em;
		height: 450px;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
		position: relative;
		width: 320px;
		z-index: 2;
	}
	.academia {
		background-color: #133C5D;
		border-radius: 130px;
		height: 130px;	
		padding-top: 35px;
		position: absolute;
		right: 20px;
		text-align: center;
		top: 305px;
		width: 130px;
	}
	.facebook {
		background-color: #43609B;
		border-radius: 130px;
		height: 130px;
		right: 20px;
		padding-top: 35px;	
		position: absolute;
		text-align: center;
		top: 170px;
		width: 130px;
		z-index: 2;
	}
	.github {
		background-color: #333333;
		border-radius: 130px;
		height: 130px;
		padding-top: 35px;	
		position: absolute;
		right: 20px;	
		text-align: center;
		top: 25px;
		width: 130px;
	}
	.linkedin {
		background-color: #1884BB;
		border-radius: 130px;
		height: 130px;
		padding-top: 35px;	
		position: absolute;
		left: 20px;
		text-align: center;
		top: 25px;
		width: 130px;
		z-index: 2;
	}
	.northwestern {
		background-color: #541763;	
		border-radius: 130px;
		height: 130px;
		left: 20px;
		padding-top: 35px;
		position: absolute;
		text-align: center;
		top: 305px;
		width: 130px;
	}
	.twitter {
		background-color: #55ACEE;
		border-radius: 130px;
		height: 130px;
		left: 20px;
		padding-top: 35px;	
		position: absolute;
		text-align: center;
		top: 170px;
		width: 130px;
		z-index: 2;
	}
	.list {
		line-height: 1.2em;	
		list-style-type: none;
		margin: 0;
		padding-left: 1em;
		padding-top: 1em;
		z-index: 2;
	}
	/*Academic Summary*/
	.acadecsum {
		color: white;
		font-size: .8em;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 0 10px 0;
		position: relative;
		width: 320px;
		z-index: 1;
	}
	/*Developer Progress*/
	.devprog {
		color: white;
		font-size: .8em;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 0 10px 0;
		position: relative;
		width: 320px;
		z-index: 1;
	}
	.topper {
	background-image: url(images/Books.jpg);
	background-size: cover;
	border-color: orange;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	height: 30px;
	left: 0;
	margin: 0;
	min-height: 30px;
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 2;
	}
}
#piccontainer {
	border-color: orange;
	border-width: 2px 0px 0px 0px;
	border-style: solid;
	margin-bottom: 44px;
	height: auto;
	left: 0;
	overflow: hidden;
	position: relative;
	top: -3px;
	width: 100%;
	z-index: 1;
}
.pic {
	width: 100%;
	z-index: 2;
}
/* -webkit-box-shadow: 1.6em 1.6em .96em -.48em #777;
	   -moz-box-shadow: 1.6em 1.6em .96em -.48em #777;
	        box-shadow: 1.6em 1.6em .96em -.48em #777; */
/***Footer***/
#footer {
	background: black; 	
	border-color: #277FD3;
	border-width: 3px 0px 0px 0px;
	border-style: solid;
	bottom: 0;
	height: 50px;
	left: 0;
	margin: 0;
	position: fixed;
	text-align: left; 
	/* text-shadow: .16em 0 .32em #999; */
	width: 100%;
	z-index: 4;
}
#footer h1 {
	color: white; 	
	font-size: 125%;
	padding-left: 6px;
	z-index: 4;
}

